@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Index</h2>
<b>@ViewBag.ItemId - @ViewBag.Name</b>
<div>@DateTime.Now.ToString("dd MM yyyy")</div>
<ul>
@for (int i = 0; i < 5; i++)
{
    var a = i + 1;
    <li>@a</li>
}
</ul>